# UCF File for mojo_modulator design on the mojo board v3
#

NET "i_clk50m" TNM_NET = "clk50";
TIMESPEC TS_clk = PERIOD "clk50" 50 MHz HIGH 50 %;

NET "i_clk50m" LOC = P56;
NET "i_rst_n" LOC = P38;

NET "o_led[0]" LOC = P134;
NET "o_led[1]" LOC = P133;
NET "o_led[2]" LOC = P132;
NET "o_led[3]" LOC = P131;
NET "o_led[4]" LOC = P127;
NET "o_led[5]" LOC = P126;
NET "o_led[6]" LOC = P124;
NET "o_led[7]" LOC = P123;

# simple external UART using IO Pins
NET "o_serial_tx" LOC = P41;
NET "i_serial_rx" LOC = P51;
NET "o_serial_tx" IOSTANDARD = LVTTL;
NET "i_serial_rx" IOSTANDARD = LVTTL;
NET "i_serial_rx" PULLUP;

# dac interface loc constaints
NET "o_dac_pin_mode" LOC = P74;  #--  L74N_1
NET "o_dac_sleep" LOC = P75;  #--  L74P_1
NET "o_dac_mode" LOC = P78;   #--  L47N_1
NET "o_dac_cmode" LOC = P79;  #--  L47P_1
NET "o_dac_clk_p" LOC = P81;  #--  L46P_1
NET "o_dac_clk_n" LOC = P80;  #--  L46N_1
NET "o_dac_DB[0]" LOC = P82;  #--  L45N_1
NET "o_dac_DB[1]" LOC = P83;  #--  L45P_1
NET "o_dac_DB[2]" LOC = P84;  #--  L43N_1
NET "o_dac_DB[3]" LOC = P85;  #--  L43P_1
NET "o_dac_DB[4]" LOC = P87;  #--  L42N_1
NET "o_dac_DB[5]" LOC = P88;  #--  L42P_1
NET "o_dac_DB[6]" LOC = P92;  #--  L41N_1
NET "o_dac_DB[7]" LOC = P93;  #--  L41P_1
NET "o_dac_DB[8]" LOC = P94;  #--  L40N_1
NET "o_dac_DB[9]" LOC = P95;  #--  L40P_1
NET "o_dac_DB[10]" LOC = P97; #--  L34N_1
NET "o_dac_DB[11]" LOC = P98; #--  L34P_1

# pull/down for dac
NET "o_dac_pin_mode" PULLDOWN; 
NET "o_dac_sleep"    PULLDOWN;
NET "o_dac_mode"     PULLDOWN;
NET "o_dac_cmode"    PULLDOWN;
NET "o_dac_clk_p"    PULLDOWN;
NET "o_dac_clk_n"    PULLDOWN;
NET "o_dac_DB[0]"    PULLDOWN; 
NET "o_dac_DB[1]"    PULLDOWN;  
NET "o_dac_DB[2]"    PULLDOWN;  
NET "o_dac_DB[3]"    PULLDOWN;  
NET "o_dac_DB[4]"    PULLDOWN;  
NET "o_dac_DB[5]"    PULLDOWN;  
NET "o_dac_DB[6]"    PULLDOWN;  
NET "o_dac_DB[7]"    PULLDOWN;  
NET "o_dac_DB[8]"    PULLDOWN;  
NET "o_dac_DB[9]"    PULLDOWN;  
NET "o_dac_DB[10]"   PULLDOWN;  
NET "o_dac_DB[11]"   PULLDOWN;


